@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto&family=Signika&family=Sriracha&display=swap');
body {
    background-color: lavender;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Signika', sans-serif;
}

.container-top {
    background-image: url("https://images7.alphacoders.com/116/1161810.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* <= This one */
    height: 500px;
    margin: 0 auto;
    width: auto;
  }

.flex {
    display: flex;
    align-items: center;
}

.padding {
    padding: 5px 10px;
}

.standard {
    background-color: lavenderblush;
    border: 2px solid lightpink;
    box-shadow: inset 0px 0px 10px lightpink;
}
.Dendro {
    background-color: palegreen;
    border: 2px solid green;
    box-shadow: inset 0px 0px 10px green;

}
.Hydro {
    background-color: dodgerblue;
    border: 2px solid blue;
    box-shadow: inset 0px 0px 10px blue;
}
.Cryo {
    background-color: lightskyblue;
    border: 2px solid dodgerblue;
    box-shadow: inset 0px 0px 10px dodgerblue;
}
.Pyro {
    background-color: lightcoral;
    border: 2px solid red;
    box-shadow: inset 0px 0px 10px red;
}
.Anemo {
    background-color: lightcyan;
    border: 2px solid lightblue;
    box-shadow: inset 0px 0px 10px lightblue;
}
.Geo {
    background-color: lightgoldenrodyellow;
    border: 2px solid goldenrod;
    box-shadow: inset 0px 0px 10px goldenrod;
}
.Electro {
    background-color: mediumorchid;
    border: 2px solid rebeccapurple;
    box-shadow: inset 0px 0px 10px rebeccapurple;
}

/* NAV BAR  */
.nav-bar {
    display: flex;
    justify-content: space-around;
    /* background-image: linear-gradient(to bottom right, black, slategray); */
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    position: sticky;
    top: 0px;
}

.logo {
    height: 50px;
    width: auto;
    margin: 5px 10px;
}

.primogem {
    height: 30px;
    width: auto;
    margin: 5px 10px;
}

.nav-right li {
    list-style-type: none;
    padding: 5px 10px;
}

ol a {
    color: white;
    text-decoration: none;
}

.title {
    text-align: center;
    color: white;
    margin: 150px 10px;
    font-size:50px;
}

/* CONTENT  */

.container {
    margin: auto;
    width: 1200px;
    
}
.block-1 {
    margin: 10px;
    display: flex;
}
.block-1 select {
    width: 600px;
    height: 40px;
    border-radius: 5px;
    margin: 10px 20px;
    font-size: large;
    padding: 5px;
    border: none;
}
.character-image {
    height: 700px;
    width: 400px;
    margin: 10px;
}

.name-bar {
    justify-content: space-between;
    padding: 5px;
}

.vision img {
    height: 50px;
    width: 50px;
}

hr {
    border: 2px solid black;
}
.spacer {
    height: 50px;
}
.char-info-1 {
    height: 100px;
}

.char-info-2 {
    height: 300px;
}
.char-info-2 h2 {
    margin-top: 10px;
}
.character-block-right {
    margin: 20px;
    width: 650px;
}
.col {
    flex:1 ;
    /* background-color: lavenderblush; */
    height: auto;
    padding: 20px;
    margin: 10px;
    justify-content: flex-start;
}
.gap {
    gap: 10px;
}
#cols {
    align-items: flex-start;
    justify-content: flex-start;
}
#characterImageFull {
    width: 400px;
    height: 400px;
    position: relative;
    bottom: 100px;
    left: 300px;
}
#stars {
    height: 20px;
    width: auto;
}