@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto&family=Signika&family=Sriracha&display=swap");
body {
  background-color: darkslateblue;
  /* background-color: lavender; */
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Signika", sans-serif;
}

.container-top {
  background-image: url("https://images7.alphacoders.com/116/1161810.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* <= This one */
  height: 500px;
  margin: 0 auto;
  width: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.padding {
  padding: 5px 10px;
}
.box-shadow {
  box-shadow: 2px 2px 2px black;
  border: 2px solid black;
}

.standard {
  background-color: lavenderblush;
  background-image: url(https://images4.alphacoders.com/109/1099190.png);
  border: 2px solid black;
  box-shadow: inset 0px 0px 10px slateblue, 2px 2px 2px black;
  box-shadow: 2px 2px 2px black;
}
.Dendro {
  background-color: palegreen;
  border: 2px solid black;
  box-shadow: inset 0px 0px 10px green, 2px 2px 2px black;

}
.Hydro {
  background-color: lightseagreen;
  border: 2px solid black;
  box-shadow: inset 0px 0px 10px blue, 2px 2px 2px black;
}
.Cryo {
  background-color: lightskyblue;
  border: 2px solid black;
  box-shadow: inset 0px 0px 10px dodgerblue, 2px 2px 2px black;
}
.Pyro {
  background-color: lightcoral;
  border: 2px solid black;
  box-shadow: inset 0px 0px 10px red, 2px 2px 2px black;
}
.Anemo {
  background-color: lightcyan;
  border: 2px solid black;
  box-shadow: inset 0px 0px 10px lightblue, 2px 2px 2px black;
}
.Geo {
  background-color: lightgoldenrodyellow;
  border: 2px solid black;
  box-shadow: inset 0px 0px 10px goldenrod, 2px 2px 2px black;
}
.Electro {
  background-color: mediumorchid;
  border: 2px solid black;
  box-shadow: inset 0px 0px 10px rebeccapurple, 2px 2px 2px black;
}

.star3 {
  background-image: url(https://preview.redd.it/1jlnjvd3n8z61.png?width=1080&crop=smart&auto=webp&s=a5a1b6b52b91f39f9e4a50e9ba032e56bbe171ee);
  border: 2px solid black;
  box-shadow: inset 0px 0px 10px dodgerblue, 2px 2px 2px black;
  color: white;
  /* background-size: cover; */
  background-size:100% 100%;


}
.star4 {
  background-image: url(https://preview.redd.it/0emwjxd3n8z61.png?width=1080&crop=smart&auto=webp&s=181d7ae1369cc19b7b912abb424024c51bfb1b55);
  border: 2px solid black;
  box-shadow: inset 0px 0px 10px plum, 2px 2px 2px black;
  color: white;
  /* background-size: cover; */
  background-size:100% 100%;

  
}
.star5 {
  background-image: url(https://preview.redd.it/ld46ksd3n8z61.png?width=1080&crop=smart&auto=webp&s=ed556e71d773bbc79bbca0cbc2d24e4537589973);
  border: 2px solid black;
  box-shadow: inset 0px 0px 10px goldenrod, 2px 2px 2px black;
  color: white;
  /* background-size: cover; */
  background-size:100% 100%;
}
.star2 {
  background-image: url(https://preview.redd.it/d07rrwd3n8z61.png?width=1080&crop=smart&auto=webp&s=b40a60d653b83d030743a29e7b6e52273932b1fd);
  border: 2px solid black;
  box-shadow: inset 0px 0px 10px black, 2px 2px 2px black;
  color: white;
  /* background-size: cover; */
  background-size:100% 100%;
}
.star1 {
  background-image: url(https://preview.redd.it/5kmrqud3n8z61.png?width=1080&crop=smart&auto=webp&s=feebdd638d466385abff03021d60f2bbc6c6d01b);
  border: 2px solid black;
  box-shadow: inset 0px 0px 10px black, 2px 2px 2px black;
  color: white;
  /* background-size: cover; */
  background-size:100% 100%;
}


/* NAV BAR  */
.nav-bar {
  display: flex;
  justify-content: space-around;
  /* background-image: linear-gradient(to bottom right, black, slategray); */
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  position: sticky;
  top: 0px;
}

.logo {
  height: 50px;
  width: auto;
  margin: 5px 10px;
}

.primogem {
  height: 30px;
  width: auto;
  margin: 5px 10px;
}

.nav-right li {
  list-style-type: none;
  padding: 5px 10px;
}

ol a {
  color: white;
  text-decoration: none;
}

.title {
  text-align: center;
  color: white;
  margin: 150px 10px;
  font-size: 60px;
  text-shadow:
  2px 2px 0 #000,
  -2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000;
}

/* CONTENT  */

.container {
  margin: auto;
  width: 1200px;
}
.block-1 {
  margin: 10px;
  display: flex;
}
.block-1 select {
  width: 600px;
  height: 40px;
  border-radius: 5px;
  margin: 10px 20px;
  font-size: large;
  padding: 5px;
  border: none;
}
.character-image {
  height: 700px;
  width: auto;
  margin: 10px;
  -webkit-filter: drop-shadow(0px 0px 8px white);
  filter: drop-shadow(0px 0px 8px white);
}

.name-bar {
  justify-content: space-between;
  padding: 5px;
}

.vision img {
  height: 50px;
  width: 50px;
}

hr {
  border: 2px solid black;
}
.spacer {
  height: 50px;
}
.char-info-1 {
  height: 100px;
}

.char-info-2 {
  height: 300px;
}
.char-info-2 h2 {
  margin-top: 10px;
}
.character-block-right {
  margin: 20px;
  width: 650px;
}
.col {
  flex: 1;
  /* background-color: lavenderblush; */
  height: auto;
  padding: 20px;
  margin: 10px;
  justify-content: flex-start;
}
.gap {
  gap: 10px;
}
#cols {
  align-items: flex-start;
  justify-content: flex-start;
}
#characterImageFull {
  width: auto;
  height: 300px;
  -webkit-filter: drop-shadow(0px 0px 8px white);
  filter: drop-shadow(0px 0px 8px white);
}
.stars {
  height: 20px;
  width: auto;
  -webkit-filter: drop-shadow(0px 0px 8px goldenrod);
  filter: drop-shadow(0px 0px 8px goldenrod);
}
.primogem2 {
  height: 30px;
  width: auto;
  margin: 5px 10px;
  position: relative;
  left: 40%;
  /* top: -40px; */
}

/* WEAPONS */
.titleblock2 {
  height: 350px;
  width: auto;
  background-image: url(https://i.etsystatic.com/25476150/r/il/65811d/3935965596/il_fullxfull.3935965596_hgow.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* <= This one */

}
.titleblock {
  height: 350px;
  width: auto;
  background-image: url(https://i.redd.it/wxfwnzmxwi381.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* <= This one */

}
.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#dynamicWeapon {
  width: auto;
  height: 500px;
  -webkit-filter: drop-shadow(0px 0px 8px white);
  filter: drop-shadow(0px 0px 8px white);

}

/* Style the links inside the sidenav */
#mySidenav a {
  position: fixed; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */

  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
}
/* SLIDENAV BAR  */
#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#home {
  top: 20px;
  background-image: url(https://upload-os-bbs.hoyolab.com/upload/2022/07/26/169856605/5b05eeab036bfc56e3071a87972eacb0_2993445858013996256.png?x-oss-process=image%2Fresize%2Cs_1000%2Fauto-orient%2C0%2Finterlace%2C1%2Fformat%2Cwebp%2Fquality%2Cq_80);

}

#characters {
  top: 80px;
  background-image: url(https://upload-os-bbs.hoyolab.com/upload/2022/07/26/169856605/5b05eeab036bfc56e3071a87972eacb0_2993445858013996256.png?x-oss-process=image%2Fresize%2Cs_1000%2Fauto-orient%2C0%2Finterlace%2C1%2Fformat%2Cwebp%2Fquality%2Cq_80);

}

#weapons {
  top: 140px;
  background-image: url(https://upload-os-bbs.hoyolab.com/upload/2022/07/26/169856605/5b05eeab036bfc56e3071a87972eacb0_2993445858013996256.png?x-oss-process=image%2Fresize%2Cs_1000%2Fauto-orient%2C0%2Finterlace%2C1%2Fformat%2Cwebp%2Fquality%2Cq_80);

}

#artifacts {
  top: 200px;
  background-image: url(https://upload-os-bbs.hoyolab.com/upload/2022/07/26/169856605/5b05eeab036bfc56e3071a87972eacb0_2993445858013996256.png?x-oss-process=image%2Fresize%2Cs_1000%2Fauto-orient%2C0%2Finterlace%2C1%2Fformat%2Cwebp%2Fquality%2Cq_80);

}